.lo{
    color:black;
    width:100%;
    text-align: center;

}
.div2{
   
    float:left;
    color:black;
   width: 30%;
   
 
}
.clearfix{
    clear:left;
}


.heading{
    color:black;
    width:100%;
    text-align:center;
}
